<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            Feed Back Form 
        </h3>
    </div>
    <!--No Label Form-->
    <!--===================================================-->
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 mar-btm">
                    <input [(ngModel)]="fb.name" name="name" class="form-control" placeholder="Name" type="text" />
                </div>
                <div class="col-md-8 mar-btm">
                    <input [(ngModel)]="fb.email" name="email" class="form-control" placeholder="Email" type="email" />
                </div>
            </div>
            <textarea [(ngModel)]="fb.content" name="content" class="form-control" placeholder="Message" rows="3">
            </textarea>
        </div>
        <div class="panel-footer text-right">
            <button  (click)="newFeedBack(fb)" class="btn btn-default">
                Send message
            </button>
        </div>
    </form>
    <!--===================================================-->
    <!--End No Label Form-->
</div>