<div class="panel">
					            <div class="panel-heading">
					                <h3 class="panel-title">Replies</h3>
					            </div>
					            <div class="panel-body">
					                <!-- Timeline -->
					                <!--===================================================-->
					                <div class="timeline">
					
					                    <!-- Timeline header -->
					                    <div class="timeline-header">
					                        <div class="timeline-header-title bg-info">Now</div>
					                    </div>
					
					                    <div class="timeline-entry">
					                        <div class="timeline-stat">
					                            <div class="timeline-icon"><i class="demo-pli-office icon-2x"></i></div>
					                            <div class="timeline-time">2 Hours ago</div>
					                        </div>
					                        <div class="timeline-label">
					                            <p class="text-bold"><a href="#" class="text-danger">Job Meeting</a></p>
					                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
					                        </div>
					                    </div>
					                    <div class="timeline-entry">
					                        <div class="timeline-stat">
					                            <div class="timeline-icon"><img src="img/profile-photos/10.png" alt="Profile picture">
					                            </div>
					                            <div class="timeline-time">3 Hours ago</div>
					                        </div>
					                        <div class="timeline-label">
					                            <p class="mar-no pad-btm">
					                                <a href="#" class="btn-link text-semibold">Lisa D.</a> commented on
					                                <a href="#" class="text-semibold"><i>The Article.</i></a>
					                            </p>
					                            <blockquote class="bq-sm bq-open mar-no">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
					                        </div>
					                    </div>

					                </div>
					                <!--===================================================-->
					                <!-- End Timeline -->
					            </div>
					            <div class="panel-footer">
					               <my-app-feed-back-form> Loading... </my-app-feed-back-form>
					            </div>
					        </div>